<h4 >{{formTitle}} bug</h4>
<form [formGroup]="bugForm" (ngSubmit)="submitBug()">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Enter title" formControlName="title">
    <label *ngIf="bugForm?.get('title')?.errors?.required && (bugForm?.get('title')?.dirty || bugForm?.get('title')?.touched)" class="error"> *Title is required.</label>
  </div>

  <div class="form-group">
    <label for="inputPriority">Priority</label>
    <select class="form-control" id="inputPriority" formControlName="priority">
      <option value=null selected>Select priority</option>
      <option value=1 >Minor</option>
      <option value=2 >Major</option>
      <option value=3 >Critical</option>
    </select>
    <label *ngIf="bugForm?.get('priority')?.errors?.required && (bugForm?.get('priority')?.dirty || bugForm?.get('priority')?.touched)" class="error"> *Priority is required.</label>
  </div>

  <div class="form-group">
    <label for="inputReporter">Reporter</label>
    <select class="form-control" id="inputReporter" formControlName="reporter">
      <option value=null selected>Select reporter</option>
      <option value="QA">QA</option>
      <option value="PO">PO</option>
      <option value="DEV">DEV</option>
    </select>
    <label *ngIf="bugForm?.get('reporter')?.errors?.required && (bugForm?.get('reporter')?.dirty || bugForm?.get('reporter')?.touched)" class="error"> *Reporter is required.</label>
  </div>

  <div class="form-group">
    <label for="inputStatus">Status</label>
    <select class="form-control" id="inputStatus" formControlName="status">
      <option value=null selected>Select status</option>
      <option value="Ready for test">Ready for test</option>
      <option value="Done">Done</option>
      <option value="Rejected">Rejected</option>
    </select>
    <label *ngIf="bugForm?.get('status')?.errors?.required && (bugForm?.get('status')?.dirty || bugForm?.get('status')?.touched)" class="error"> *Status is required.</label>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" formControlName="description"  placeholder="Enter description"></textarea>
    <label *ngIf="bugForm?.get('description')?.errors?.required && (bugForm?.get('description')?.dirty || bugForm?.get('description')?.touched)" class="error"> *Description is required.</label>
  </div>

  <div class="form-group" [formGroup]="comment" *ngFor="let comment of comments.controls; let i=index; let islast=last">
    <input type="text" formControlName="_id">

    <label for="commentReporter{{i}}">Reporter</label>
    <input type="text" class="form-control" id="commentReporter{{i}}" placeholder="Enter your name" formControlName="reporter">

    <label for="commentDescription{{i}}">Description</label>
    <textarea class="form-control" id="commentDescription{{i}}" rows="2" formControlName="description"  placeholder="Enter description"></textarea>

    <button type="button" class="btn btn-danger" (click)="removeComment(i)"><i class="fa fa-minus"></i></button>
    <button type="button" class="btn btn-success" *ngIf="islast" (click)="addComment()"><i class="fa fa-plus"></i></button>
  </div>

  <button type="button" class="btn btn-success" *ngIf="!onCreateStatus && !comments.controls.length" (click)="addComment()"><i class="fa fa-plus"></i></button>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="bugForm.invalid">Submit</button>
  <button type="reset" *ngIf="onCreateStatus;else editMode" class="btn  btn-secondary btn-block">Reset</button>
</form>
<ng-template #editMode>
  <button type="button" class="btn  btn-secondary btn-block" (click)="reloadForm();">Cancel</button>
</ng-template>
