form {
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 50px;
}

h4 {
  text-align: center;
}

.error {
  color: red;
}

button.btn-danger {
  margin-bottom: 15px;
}

button.btn-success {
  margin-bottom: 20px;
}

