table {
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
}

th {
  cursor: pointer;
}

.bug-spinner {
  background-image: url('~src/assets/bug-spinner.gif');
}

p {
  text-align: center;
  font-size: 25px;
}

#bug-spinner {
  width: 250px;
  height: 300px;
}
