table {
  margin-bottom: 50px;
}

th {
  cursor: pointer;
}

.bug-spinner {
  background-image: url('~src/assets/bug-spinner.gif');
}

p {
  text-align: center;
  font-size: 25px;
}

#bug-spinner {
  width: 250px;
  height: 300px;
}

button.btn-secondary {
  margin-bottom: 20px;
  background: #1a1a1a;
}

button.btn-info {
  visibility: hidden;
}


table tr:hover button.btn-info {
  visibility:visible;
}
